{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="col-md-8 col-md-offset-2">
        <h1>Translation List</h1>
        {% if translation_list|length > 0 %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Original Text</th>
                    <th scope="col">Translated Text</th>
                    <th scope="col">Status</th>
                    <th scope="col">Size</th>
                    <th scope="col">Created On</th>
                </tr>
                </thead>
                <tbody>

                {% for translation in translation_list %}
                    <tr class="well shadow-textarea clickable-row">
                        <td>{{ translation.original_text[:50] }} {{ " ... " if translation.original_text|length > 50 }}</td>
                        <td>{{ translation.translated_text[:50] if translation.translated_text != None else "-" }} {{ " ... " if translation.translated_text and translation.translated_text|length > 50 }} </td>
                        <td>{{ translation.status.value }}</td>
                        <td>{{ translation.size }}</td>
                        <td>{{ translation.created_on.strftime('%Y-%m-%d') }}</td>
                        <td>
                            <a href="{{ url_for('translation_bp.get_translation', translation_uid=translation.uid) }}">more</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="well shadow-textarea">
                <h5 class="center-block"><strong>There are no translation requests</strong></h5>
            </div>
        {% endif %}
    </div>
{% endblock %}