{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="col-md-8 col-md-offset-2">
        <h1>Translation Detail</h1>
        <h3>Original Text - {{ translation.original_language }}</h3>
        <div class="well shadow-textarea">
            {{ translation.original_text }}
        </div>
        <h3>Translated Text - {{ translation.translated_language }}</h3>
        <div class="well shadow-textarea">
            {{ translation.translated_text if translation.translated_text != None}}
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <h4>Additional information</h4>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Size</th>
                <th scope="col">Created On</th>
            </tr>
            </thead>
            <tbody>

            <tr class="well shadow-textarea clickable-row">
                <td>{{ translation.status.value }}</td>
                <td>{{ translation.size }}</td>
                <td>{{ translation.created_on.strftime('%Y-%m-%d') }}</td>

            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}