{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}

    <div class="col-md-8 col-md-offset-2">
        <h1>Translation</h1>

        <div class="well shadow-textarea">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle bottom-right" type="button"
                        data-toggle="dropdown">
                    English to Spanish
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">English to Spanish</a></li>
                </ul>
            </div>
            <form accept-charset="UTF-8" action="/translation" method="POST">
                <textarea class="form-control" id="field" name="text"
                          placeholder="Type in your text" rows="10"></textarea>
                <h6 class="pull-right" id="charNum"></h6>
                <a href="{{ url_for('translation_bp.translate') }}">
                    <button class="btn btn-primary btn-block"
                            href="{{ url_for('translation_bp.translate') }}" type="submit">Request
                        Translation
                    </button>
                </a>
            </form>
        </div>
    </div>
{% endblock %}