{% extends "bootstrap/base.html" %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> {% block title %}Basic Translation APP {% endblock %}</title>
</head>
<body>

<div>Navbar</div>
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('users_bp.home') }}">Basic Translation
                    APP</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/translation">Translation</a></li>
                    <li><a href="/translations_list">Translation List</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if call_or_get(current_user.is_authenticated and current_user.has_roles('Admin')) %}
                            <a href="{{ url_for('admin.index') }}">{% trans %}
                                Admin{% endtrans %}</a>
                        {% endif %}
                    <li>{% if call_or_get(current_user.is_authenticated) %}
                        <a href="{{ url_for('user.logout') }}">{% trans %}Sign
                            out{% endtrans %}</a>
                    {% else %}
                        <a href="{{ url_for('user.login') }}">{% trans %}Sign
                            in{% endtrans %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
</body>
</html>