{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      {{ super() }}
    <div class="col-md-8 col-md-offset-2">
    <h1 class="leaflet-tile-pane">Basic Translation APP</h1>
        <h3>Built with Unbabel API</h3>
        <a href="https://unbabel.com"><img class="img-responsive" src="https://unbabel.com/wp-content/uploads/2018/07/unbabel-logo.png" alt="unbabel_logo"></a>

<p></p>
</div>
{% endblock %}